<ion-header>
  <ion-toolbar>
    <ion-title>Favorite places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink] = "['/report']">
      <ion-label>Phoenix, Az.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>New York</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Miami, Florida</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Chicago</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Los Angeles</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>North Caroline</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cancun, Mx.</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
