.profile-pic{
    margin: auto;
     height: 200px; 
     width: 200px; 
   // border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: block;
    margin-top: -80px;
}
.title{
    margin-left: 128px;
    margin-top: 50px;
}